In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [69]:
data = pd.read_excel('SUPERSTORE SALES DATA.xlsx')

In [6]:
data['Sub-Category'].value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64

In [64]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Year
0,7981,CA-2011-103800,2013-01-03,2013-01-07,2,DP-13000,Darren Powers,0,United States,"(0, 239)\t1\n (1, 357)\t1\n (2, 357)\t1\n ...",...,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2.0,0.2,5.5512,2013
1,740,CA-2011-112326,2013-01-04,2013-01-08,2,PO-19195,Phillina Ober,0,United States,"(0, 239)\t1\n (1, 357)\t1\n (2, 357)\t1\n ...",...,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3.0,0.2,4.2717,2013
2,741,CA-2011-112326,2013-01-04,2013-01-08,2,PO-19195,Phillina Ober,0,United States,"(0, 239)\t1\n (1, 357)\t1\n (2, 357)\t1\n ...",...,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3.0,0.2,-64.7748,2013
3,742,CA-2011-112326,2013-01-04,2013-01-08,2,PO-19195,Phillina Ober,0,United States,"(0, 239)\t1\n (1, 357)\t1\n (2, 357)\t1\n ...",...,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2.0,0.8,-5.4870,2013
4,1760,CA-2011-141817,2013-01-05,2013-01-12,2,MB-18085,Mick Brown,0,United States,"(0, 239)\t1\n (1, 357)\t1\n (2, 357)\t1\n ...",...,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3.0,0.2,4.8840,2013

In [70]:
def year(x):
    return x.year

In [71]:
data['Year'] = data['Order Date'].apply(year)

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9993 non-null   float64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Year           9994 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(13)
memory usage: 1.2+ MB

In [44]:
#data[data['Ship Mode'] == 'First Class']

In [73]:
def ship_mode(v):
    if v == 'Standard Class':
        return 2
    elif v == 'Second Class':
        return 3
    elif v == 'First Class':
        return 4
    else:
        return 1

In [74]:
data['Ship Mode'] = data['Ship Mode'].apply(ship_mode)

In [79]:
data['Segment'].value_counts()

0    6974
1    3020
Name: Segment, dtype: int64

In [76]:
data['Segment'] = pd.get_dummies(data['Segment'],  drop_first= True)

In [85]:
data.info(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   int64
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   uint8
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9993 non-null   float64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Year           9994 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(4), object(11), uint8(1)
memory usage: 1.2+ MB

In [83]:
from sklearn.model_selection import train_test_split

In [88]:
X = data.drop(['Row ID', 'Order ID', 'Order Date', 'Ship Date','Customer ID', 'Customer Name', 'Segment', 'Ship Mode', 'Country', 'City','State','Region','Product ID', 'Category', 'Sub-Category', 'Product Name', 'Profit' ], axis = 1)
y = data['Profit']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [91]:
from sklearn.linear_model import LinearRegression

In [92]:
lin = LinearRegression()

In [93]:
lin.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [107]:
from sklearn.preprocessing import StandardScaler

In [108]:
stc = StandardScaler().fit_transform(X)

In [110]:
X = stc

In [111]:
X = X
y = data['Profit']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [112]:
lin.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').